    <!--Carousel starts here-->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
            <%= image_tag("surf2.jpg") %>              
                <div class="carousel-caption" id="header">
                   <h3>HAWAIAAN SURFBOARDS</h3>
      <p>Customized Boards</p>
                </div>
            </div>
            <div class="item">
                <%= image_tag("surf1.jpg") %>  
                <div class="carousel-caption">
                     <h3>HAWAIAAN SURFBOARDS</h3>
      <p>Customized Boards</p>
                </div>
            </div>
            <div class="item">
              <%= image_tag("surf.jpg") %>  
                <div class="carousel-caption">
                     <h3>HAWAIAAN SURFBOARDS</h3>
      <p>Customized Boards</p>
                </div>
            </div>
            <!--end item-->
        </div>
        <!--end carousel inner-->
        <!--end wrapper for slides-->

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--end controls-->

    </div>
    <!-- Carousel ends here-->



    <div class="container">
        <div class="page-header col-md-10 col-md-offset-1">
            <h1>This is a Test</h1>
            <p>jQuery plugin seems to work</p>
            <p class="h1">
                <a href="https://github.com/vast-engineering/jquery-popup-overlay/archive/gh-pages.zip" class="btn btn-primary btn-success btn-lg"><span class="fontawesome-download-alt"></span> Download</a>
                <a href="https://github.com/vast-engineering/jquery-popup-overlay" class="btn btn-lg btn-default"><span class="fontawesome-github"></span> View project on GitHub</a>
            </p>
            <p class="text-muted">And it still works.7</p>
        </div>
    </div>


    <!--Team Section-->

    <div class="container-fluid anchor" id="team">
        <div class="container" id="team1">
           <div class="row" id="try">
             <h1>Our Team </h1>
                <div class="col-md-4 col-xs-6">
                <div class="container" id="yeah"></div>
                    <%= image_tag("Schenek.jpg") %>
                    <h2>Isabelle Yu</h2>
                    <p>Konferenzleitung</p>
                    </div
                </div>
                <!--end col-md-3 col-xs-6-->
                <div class="col-md-4 col-xs-6">
                  <%= image_tag("Schenek.jpg") %>
                        <h2>XYZ</h2>
                        <p>Organization</p>
                </div>
                <!--end col-md-3 col-xs-6-->
                <div class="col-md-4 col-xs-6">
                <%= image_tag("Schenek.jpg") %>
                   
                    <h2>Isabelle Yu</h2>
                    <p>Funding</p>
                </div><!--end col-md-4 col-xs-6-->
            </div><!--end row-->
        </div>
    </div>
    <!--end container-fluid-->





      
  <div class="container fluid">
      <h1>Our Bestsellers</h1>
      </div><!--end container fluid-->

	           
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% @counter.times do |n| %>
    <li data-target="#carousel-example-generic" data-slide-to="<%= n %>" class= "<%= "active" if n == 0 %>"</li>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
  	<% @products.each do |product| %>
    <div class="item <%= "active" if product == @products.first %>">
      <%= image_tag(product.image_url) %>
      <div class="carousel-caption">
        <%= product.name %>
      </div>
    </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!--Create a new product formular -->

<!--outcomment the new form which was just used to learn how to build a new form such as a contact form-><div class="header" id="new">

	<h1>Contact Us </h1>
</div><!--end header-->

<!--outcomment the new form which was just used to learn how to build a new form such as a contact form->

<div class="newform">
<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :colour %><br>
    <%= f.text_field :colour %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div><!--end newform-->
